/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}
.company-name{
		white-space: nowrap;
}
.btn, .btn-large {
    text-decoration: none;
		height: auto;
		padding: 0 2rem;
		border-radius: 5px;
    color: #000;
    background-color: #fff300;
    text-align: center;
		font-weight: 500;
    letter-spacing: .5px;
		text-transform: none;
    -webkit-transition: .2s ease-out;
    transition: .5s ease-out;
    cursor: pointer;
}
.btn:hover, .btn-large:hover,
.btn:focus, .btn-large:focus,
.btn-floating:focus{
    background-color: #ffc324;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.brand-logo img{
    width: 50px;
    margin-top: 5px;
}

.nav-wrapper__dekstop-links-list{
    list-style: none;
    text-decoration: none;
}

.nav-wrapper__dekstop-link-element{
    overflow: hidden;
    background: transparent;
    border: none;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 0;
}

.nav-wrapper__dekstop-link-element a{
    display: inline;
    padding: 15px 20px;
}

.nav-wrapper__dekstop-underline {
  width: 0;
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
  background: #FFF400;
  height: 4px;
  border: 1px solid #FFF400;
  transition: margin-left .5s ease-in-out, width .3s ease-out .08s;
}

.nav-wrapper__dekstop-link-element a:hover{
    background: none;
}

.main-banner .section{
    padding-top: 50px;
}

.main-banner__header {
    font-size: 2.4em;
}

.main-banner__subheader {
    font-size: 1.3em;
    line-height: 1.6em;
}

.main-slider {
	position: relative;
  width: 100%;
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

}

.slider__title{
	font-size: 2.5rem;
	margin: 2rem 0 3rem;
}
.slider__info{
	text-align: center;
}
.slider__info p{
	font-size: 1.3rem;
	font-weight: 400;
}
.slider__info-btn--big{
	padding: 0.5rem 5rem;
}
.slider__info-btn--mobile{
	padding: 0.3rem 2rem;
	margin-top: 2rem;
	display: none;
}
@media (max-width: 600px) {
	.slider__title{
		font-size: 2.2rem;
		margin: 1rem 0 1rem;
	}
	.slider__info h4{
		font-size: 2rem;
	}
  .slider__wrapper {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .slider__image {
    order: 2; /* Go down, bring Box B up */
  }
}





.innovations {

}

.innovation__title {
	text-align: center;
	font-size: 2.5rem;
}

.innovation-block {
	position: relative;
	padding: 20px;
	height: 250px;
		margin-bottom: 20px;
}

.innovation-block__title {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 300;
}

.innovation__btn--absolute {
	position: absolute;
	bottom: 20px;
	right: 20px
}

.col.m3 .innovation__btn--absolute,
.col.m4 .innovation__btn--absolute{
	left: 20px;
    padding: 0;
}

.partners {

}

.partners__title {
		margin-top: 0;
		font-size: 2.4rem;
		text-align: center;
}

.partners__slider {

}

.partners__slider .item{
		padding: 5px 15px;
}

.page-footer {
	color: #000;
}

.footer-contacts {
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);
}
.footer-contacts {
		font-size: 1rem;
		font-weight: 500;
}
