/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

.btn, .btn-large {
    text-decoration: none;
		height: auto;
		padding: 0 3rem;
		border-radius: 5px;
    color: #000;
    background-color: #fff300;
    text-align: center;
		font-weight: 500;
    letter-spacing: .5px;
		text-transform: none;
    -webkit-transition: .2s ease-out;
    transition: .5s ease-out;
    cursor: pointer;
}
.btn:hover, .btn-large:hover {
    background-color: #ffc324;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.brand-logo img{
    width: 50px;
    margin-top: 5px;
}

.nav-wrapper__dekstop-links-list{
    list-style: none;
    text-decoration: none;
}

.nav-wrapper__dekstop-link-element{
    overflow: hidden;
    background: transparent;
    border: none;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 0;
}

.nav-wrapper__dekstop-link-element a{
    display: inline;
    padding: 15px 20px;
}

.nav-wrapper__dekstop-underline {
  width: 0;
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
  background: #FFF400;
  height: 4px;
  border: 1px solid #FFF400;
  transition: margin-left .5s ease-in-out, width .3s ease-out .08s;
}

.nav-wrapper__dekstop-link-element a:hover{
    background: none;
}

.main-banner .section{
    padding-top: 50px;
}

.main-banner__header {
    font-size: 2.4em;
}

.main-banner__subheader {
    font-size: 1.3em;
    line-height: 1.6em;
}

.slider {
	height: auto;
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

}

.slider__title{
	font-size: 2.4rem;
	margin: 2rem 0 3rem;
}
.slider__info p{
	font-size: 1.3rem;
	font-weight: 400;
}
.slider__info-btn--big{
	padding: 0.5rem 5rem;
}





