/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

h1, h2, h3, h4, h5, h6{
	font-weight: 300;
}
.page-title{
	font-size: 2.5em;
	margin-top: 1.2rem;
}

nav ul li {
	float: none;
	text-align: left;
}
nav ul a {
	font-size: 1.3em;
}
main{
	min-height: 55vh;
}
.material-icons{
	vertical-align: middle;
}
.company-name{
	white-space: nowrap;
}
.btn, .btn-large {
	text-decoration: none;
	height: auto;
	padding: 0 2rem;
	border-radius: 5px;
	color: #000;
	background-color: #fff300;
	box-shadow: none;
	text-align: center;
	font-weight: 500;
	letter-spacing: .5px;
	text-transform: none;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
}
.btn:hover, .btn-large:hover,
.btn:focus, .btn-large:focus,
.btn-floating:focus{
	background-color: #fff300;
}

.pagination{
	text-align: center;
}
.pagination li.active {
	background-color: #fef101;
}
.pagination li.active a{
	color: #444;
}



.nav {
	position: relative;
	color: #fff;
	background-color: transparent;
	width: 100%;
	font-family: "PT Sans Narrow", sans-serif;
}

.brand-logo{
	line-height: normal;
}
.brand-logo img{
	width: 90px;
	margin-top: 5px;
}

@media only screen and (max-width: 992px){
	.nav .brand-logo {
		left: 0;
		transform: none;
	}
	.brand-logo img{
    width: 70px;
    margin-top: 5px;
	}
}

.nav-wrapper{
	position: relative;
}
.nav-wrapper__dekstop-links-list{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 15px;
	list-style: none;
	text-decoration: none;
}

.nav-wrapper__dekstop-link-element{
	background: transparent;
	border: none;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 0;
}

.nav-wrapper__dekstop-link-element > a{
	color: #444;
	display: inline;
	padding: 15px 20px;
	font-size: 1.3em;
}

.nav-wrapper__dekstop-underline {
  width: 0;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
  background: #FFF400;
  height: 4px;
  border: 1px solid #FFF400;
	border: none;
  transition: margin-left .5s ease-in-out, width .3s ease-out .08s;
}

.nav-wrapper__dekstop-link-element a:hover{
	background: none;
}





/*Главная*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
/*    position: absolute;*/
/*    top: 40%;*/
  }
  #index-banner .section {
/*    top: 10%;*/
  }
}

.main-banner{
	position: relative;
	min-height: 70vh;
	z-index: -1;
	bottom: 115px;
	margin-bottom: -115px;
}
.main-banner .section{
/*	padding-top: 20vh;*/
}
.main-banner__title {
	font-size: 2.5em;
}

@media only screen and (max-width: 600px){
	.main-banner{
		min-height: 100vh;
	}
	.main-banner .section{
/*		padding-top: 12vh;*/
/*		top: 0;*/
	}
	.main-banner__title {
    font-size: 2em;
	}
}
.main-banner__subtitle {
	text-align: center;
	font-size: 1.3em;
	line-height: 1.6em;
}






.mainpage-slider {
	position: relative;
  width: 100%;
}
.mainpage-slider .item{
	padding-top: 100px;
	height: 400px;
}
@media (max-width: 600px){
	.mainpage-slider .item{
		height: 600px;
	}
	.owl-carousel .owl-item img{
		margin: auto;
		width: auto;
    height: 300px;
	}
}
.mainpage-slider .owl-item:nth-child(2n+1) .item{
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 5%, rgba(242,158,41,1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 5%,rgba(242,158,41,1) 95%);
	background: linear-gradient(to right bottom, rgba(255,244,0,1) 5%,rgba(242,158,41,1) 95%);
}
.mainpage-slider .owl-item:nth-child(2n) .item{
	background: rgb(255,244,0);
	background: -moz-linear-gradient(225deg, rgba(255,244,0,1) 5%, rgba(242,158,41,1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(225deg, rgba(255,244,0,1) 5%,rgba(242,158,41,1) 95%);
	background: linear-gradient(to left bottom, rgba(255,244,0,1) 5%,rgba(242,158,41,1) 95%);
}
.owl-nav [class*='owl-']{
	position: absolute;
	top: 0;
	bottom: 0;
	background: none;
	margin: 0;
	padding: 0;
	width: 250px;
}
@media only screen and (max-width: 993px){
	.owl-nav [class*='owl-']{
		width: 100px;
	}
}
.owl-prev{
	left:0;
}
.owl-next{
	right:0;
}
.owl-nav [class*='owl-'] img{
	position: absolute;
	top: 45%;
	right: 50%;

}

.owl-prev:hover img{
	-webkit-animation: bounceInLeft 2.5s infinite;
	animation: bounceInLeft 2.5s infinite;
}

.owl-next:hover img{
	-webkit-animation: bounceInRight 2.5s infinite;
	animation: bounceInRight 2.5s infinite;
}
@-webkit-keyframes bounceInLeft {
  0%,15%,35% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,20% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}@keyframes bounceInLeft {
  0%,15%,35% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,20% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
@-webkit-keyframes bounceInRight {
	0%,15%,35% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,20% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}@keyframes bounceInRight {
	0%,15%,35% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  5%,20% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}


.slider__wrapper{
	margin: 0;
	position: relative;
}
.slider__title{
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	font-size: 2.5rem;
	margin: 2rem 0 3rem;
}
@media only screen and (max-width: 993px){
	.slider__title {
			font-size: 2em;
	}
}
.slider__info{
	text-align: center;
}
.slider__info p{
	font-size: 1.3rem;
	font-weight: 300;
}
.slider__info-btn--big{
	padding: 0.5rem 5rem;
}
.slider__info-btn--mobile{
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 0.3rem 2rem;
	margin: 0;
}
@media (max-width: 600px) {
	.slider__title{
		font-size: 1.9rem;
		margin: 1rem 0 1rem;
	}
	.slider__info h4{
		font-size: 1.5rem;
	}
  .slider__wrapper {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .slider__image {
    order: 2; /* Go down, bring Box B up */
  }
}





.innovations {

}

.innovation__title {
	text-align: center;
	font-size: 2.5em;
}

@media only screen and (max-width: 993px){
.innovation__title {
		font-size: 2em;
	}
}

.innovation-block {
	position: relative;
	padding: 20px;
	height: 250px;
	margin-bottom: 20px;
}

.innovation-block__title {
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 300;
}
@media only screen and (max-width: 993px){
.innovation-block__title {
		font-size: 1.5rem;
	}
}
.innovation__btn--absolute {
	position: absolute;
	bottom: 20px;
	right: 20px
}

.col.m3 .innovation__btn--absolute,
.col.m4 .innovation__btn--absolute{
	left: 20px;
    padding: 0;
}

.partners {

}

.partners__title {
	margin-top: 0;
	font-size: 2.4rem;
	text-align: center;
}

.partners__slider {

}

.partners__slider .item{
	padding: 5px 15px;
	margin: 0 50px;
}
.partners__slider a img{
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-filter: opacity(0.5) grayscale(1);
	filter: opacity(0.5) grayscale(1);
}
.partners__slider a:hover img{
	-webkit-filter: opacity(1) grayscale(0);
	filter: opacity(1) grayscale(0);
}
/**/


/*Футер*/
.page-footer {
	color: #000;
}

.footer-contacts {
	font-size: 1rem;
	font-weight: 500;
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);
}
.footer-contacts .row{
	margin: 0;
}
.footer-contacts p{
	margin: 1.5em 0;
}
.page-footer .footer-copyright {
	font-weight: 500;
	min-height: 130px;
	background: none;
}

.footer-copyright .container{
	position: relative;
}

.social-icons-list {
	display: inline-block;
	margin-left: 20px;
}

.social-icons__item {
	line-height: 0;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.footer-copyright__logo {
	position: absolute;
	right: 0;
	width: 90px;
	margin-top: -23px;
}
.footer-text img{
	vertical-align: middle;
}
@media (max-width: 600px) {
  .footer-copyright .container {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .footer-text {
    order: 2; /* Go down, bring Box B up */
  }
	.social-icons-list{
		margin-bottom: 30px;
	}
}
/**/

/*Новости*/
.news-item{
	position: relative;
	overflow: hidden;
}
.news-item__title{
	font-size: 1.5em;
	margin: 0 0 20px;
}
.card-date{
	padding-top: 5px;
}
.card-date img{
	position: absolute;
	margin-top: -4px;
}
.card-date p.news-item__date{
	margin-left: 30px;
}
.news-item__extra{
	color: #444;
	position: absolute;
	right: 22px;
	bottom: 22px;
}

@media only screen and (min-width: 993px){
	.news-item .card-content{
		padding: 0;
		position: absolute;
		width: 101%;
		transition: 0.5s;
		bottom: 0;
		-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
	}
	.news-item .card-name{
		position: absolute;
		width: 100%;
		-webkit-transform: translate3d(0,-95%,0);
    transform: translate3d(0,-95%,0);
	}
	.news-item__title{
		padding: 24px;
		margin: 0;
	}
	.news-item .card-extra{
		padding: 0 24px 24px;
		overflow: hidden;
	}
	.news-item:hover .card-content{
		-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	}
	.news-item .card-image img{
		transition: .5s;
	}
	.news-item:hover .card-image img{
		-webkit-transform: translateY(-40px);
    transform: translateY(-40px);
	}

}
/**/



/*услуги*/
.service-item{
	position: relative;
	overflow: hidden;
}
.service__sublogo{
	width: 15%;
	position: absolute;
	top: 10px;
	left: 10px;
}
.service-item .card-content{
	padding: 15px;
}
.service-item__title{
	font-size: 1.1em;
	margin: 0 0 20px;
}
.service-item__date{

}
.service-item__extra{
	color: #444;
}

@media only screen and (min-width: 993px){
	.service__sublogo{
		width: 10%;
	}
	.service-item .card-content{
		padding: 0;
		position: absolute;
		width: 101%;
		transition: 0.5s;
		bottom: 0;
		-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
	}
	.service-item .card-name{
		position: absolute;
		width: 100%;
		-webkit-transform: translate3d(0,-95%,0);
    transform: translate3d(0,-95%,0);
	}
	.service-item__title{
		padding: 20px;
		margin: 0;
	}
	.service-item .card-extra{
		padding: 0 20px 20px;
		overflow: hidden;
	}
	.service-item:hover .card-content{
		-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
		-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.service-item .card-image img{
		transition: .5s;
	}
	.service-item:hover .card-image img{
		-webkit-transform: translateY(-20px);
    transform: translateY(-20px);
	}

}
/**/


/*Товары*/

.products-title-wrapper {
	position: relative;
}
.products-title-wrapper img{
	height: 68%;
	position: absolute;
	margin-top: -5px;
}
.products-title {
	margin-left: 50px;
	margin-bottom: 1rem;
}
@media only screen and (max-width: 600px){
  .products-title-wrapper img{
    height: 70%;
  }
}
.products-subtitle {
	margin-top: 0;
	font-size: 1.5rem;
}


.product-item{
	position: relative;
	overflow: hidden;
}
.product-item .card-content{
	padding: 10px;
}
.product-item__title{
	font-size: 1.1em;
	margin: 0 0 10px;
	padding: 0;
}
.product-item__extra{
	color: #444;
}

@media only screen and (min-width: 993px){
	.product-item .card-content{
		padding: 0;
		position: absolute;
		width: 101%;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		bottom: 0;
		-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
	}
	.product-item .card-name{
		position: absolute;
		width: 100%;
		-webkit-transform: translate3d(0,-95%,0);
    transform: translate3d(0,-95%,0);
	}
	.product-item__title{
		margin: 0;
		padding: 10px
	}
	.product-item .card-extra{
		padding: 0 10px 10px;
		overflow: hidden;
	}
	.product-item:hover .card-content{
		-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
		-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.product-item .card-image img{
		-webkit-transition: .5s;
		transition: .5s;
	}
	.product-item:hover .card-image img{
		-webkit-transform: translateY(-20px);
    transform: translateY(-20px);
	}
}


/*Страница товара*/

.product-title {
	margin-bottom: .5rem;
}
.product-subtitle {
	margin-top: 0;
	font-size: 1.5rem;
}

.product-images{
	margin-bottom: 30px;
}
.product-thumb {
	margin-top: 1rem;
	text-align: center;
}
.product-thumb img:hover {
	cursor: pointer;
}
.product-thumb img{
	width: 20%;
	margin: 0 0.3rem;
}

.product-info{
	padding-left: 20px;
}
@media only screen and (max-width: 993px){
	.product-info{
		padding-left: 0;
	}
}
.product-info__title:first-child{
	margin-top:0;
}
.product-info__title{
	font-weight: 400;
	color: #616161 ;
}
.product-info__text{
	color: #757575;
}

.product-extra-info{
	margin-bottom: 2rem;
}
.product-extra-info .collection{
	border-top: none;
	border-right: none;
	border-left: none;
}
.product-extra-info .collection-item{
	padding: 15px 0;
}
.product-extra-info .row{
	margin: 0;
}
.extra-info-title{
	text-align: center;
	margin: 2rem 0;
	font-size: 1em;
	color: #909090;
	font-weight: 500;
}
.cooperate__title{
	font-size: 1.8rem;
	color: #717171;
	text-align: center;
}
.cooperate-block {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #f7f7f7;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.cooperate-block:before {
    content: "";
    padding-top: 100%;
    float: left;
}
.cooperate-block img{
	top: 5%;
	left: 5%;
	position: absolute;
}
.cooperate-block p{
	padding: 0 20%;
}


.cooperate-form input,
.cooperate-form textarea{
	background-color: transparent;
	border: none;
	border-radius: 5px;
	height: 2.5rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 1rem;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	outline: none !important;
	border: 1px solid rgba(0, 0, 0, 0.08);
}
.cooperate-form textarea{
	overflow-y: hidden;
	resize: vertical;
	min-height: 8rem;
}
.cooperate-form input:focus,
.cooperate-form textarea:focus{
	-webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.16), 0 8px 10px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.16), 0 8px 10px 2px rgba(0, 0, 0, 0.12);
}
.cooperate-form label{
	position: relative;
}
.cooperate-form label img {
	vertical-align: text-top;
}
.cooperate-form__access{
	width: 100%;
}










.datetime img{
	position: absolute;
	margin-top: -5px;
}

.datetime p{
	margin-left: 30px;
}
