/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

h1, h2, h3, h4, h5, h6{
	font-weight: 300;
}
main{
	min-height: 55vh;
}
.material-icons{
	vertical-align: middle;
}
.company-name{
	white-space: nowrap;
}
.btn, .btn-large {
	text-decoration: none;
	height: auto;
	padding: 0 2rem;
	border-radius: 5px;
	color: #000;
	background-color: #fff300;
	box-shadow: none;
	text-align: center;
	font-weight: 500;
	letter-spacing: .5px;
	text-transform: none;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
}
.btn:hover, .btn-large:hover,
.btn:focus, .btn-large:focus,
.btn-floating:focus{
	background-color: #fff300;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (min-width: 601px){
	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
    height: 90px;
    line-height: 64px;
	}
}
.nav{
	box-shadow: none;
	font-family: "PT Sans Narrow", sans-serif;
	line-height: 62px!important;
}

.brand-logo{
	line-height: normal;
}
.brand-logo img{
	width: 90px;
	margin-top: 5px;
}

@media only screen and (max-width: 992px){
	nav .brand-logo {
		left: 0;
		transform: none;
	}
	.brand-logo img{
    width: 70px;
    margin-top: 5px;
}
}

nav .button-collapse i {
    padding-top: 15px;
}
.nav-wrapper__dekstop-links-list{
	padding-top: 15px;
	list-style: none;
	text-decoration: none;
}

.nav-wrapper__dekstop-link-element{
	overflow: hidden;
	background: transparent;
	border: none;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 0;
}

.nav-wrapper__dekstop-link-element a{
	color: #444;
	display: inline;
	padding: 15px 20px;
	font-size: 1.3em;
}

.nav-wrapper__dekstop-underline {
  width: 0;
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
  background: #FFF400;
  height: 4px;
  border: 1px solid #FFF400;
	border: none;
  transition: margin-left .5s ease-in-out, width .3s ease-out .08s;
}

.nav-wrapper__dekstop-link-element a:hover{
	background: none;
}



.main-banner{
	position: relative;
	bottom: 90px;
	margin-bottom: -90px;
	min-height: 70vh;
	z-index: -1;
}
.main-banner .section{
	padding-top: 20vh;
}
.main-banner__title {
	font-size: 2.5em;
}
@media only screen and (max-width: 600px){
	.main-banner{
		min-height: 100vh;
	}
	.main-banner .section{
		padding-top: 12vh;
		top: 0;
	}
	.main-banner__title {
    font-size: 2em;
	}
}
.main-banner__subtitle {
	text-align: center;
	font-size: 1.3em;
	line-height: 1.6em;
}




.mainpage-slider {
	position: relative;
  width: 100%;
	padding-top: 10px;
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

}
.owl-nav [class*='owl-']{
	position: absolute;
	top: 0;
	bottom: 0;
	background: none;
	margin: 0;
	padding: 0;
	width: 250px;
}
@media only screen and (max-width: 993px){
	.owl-nav [class*='owl-']{
		width: 100px;
	}
}

.owl-nav [class*='owl-'] img{
	position: absolute;
	top: 35%;
	right: 50%;

}
.owl-prev{
	left:0;
}
.owl-prev img{
	animation: bounceInLeft 2.5s infinite paused;
}
.owl-prev:hover img{
	animation-play-state: running
}
.owl-next{
	right:0;
}
.owl-next:hover img{
	animation: bounceInRight 2.5s infinite paused;
}
.owl-next:hover img{
	animation-play-state: running
}
@keyframes bounceInLeft {
  0%,15%,35% {
    transform: translate3d(0, 0, 0);
  }

  5%,20% {
    transform: translate3d(-10px, 0, 0);
  }

}
@keyframes bounceInRight {
	0%,15%,35% {
    transform: translate3d(0, 0, 0);
  }

  5%,20% {
    transform: translate3d(10px, 0, 0);
  }
}


.slider__wrapper{
	margin: 0;
}
.slider__title{
	font-size: 2.5rem;
	margin: 2rem 0 3rem;
}
@media only screen and (max-width: 993px){
	.slider__title {
			font-size: 2em;
	}
}
.slider__info{
	text-align: center;
}
.slider__info p{
	font-size: 1.3rem;
	font-weight: 300;
}
.slider__info-btn--big{
	padding: 0.5rem 5rem;
}
.slider__info-btn--mobile{
	padding: 0.3rem 2rem;
	margin: 2rem 0;
	display: none;
}
@media (max-width: 600px) {
	.slider__title{
		font-size: 2rem;
		margin: 1rem 0 1rem;
	}
	.slider__info h4{
		font-size: 1.5rem;
	}
  .slider__wrapper {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .slider__image {
    order: 2; /* Go down, bring Box B up */
  }
}





.innovations {

}

.innovation__title {
	text-align: center;
	font-size: 2.5em;
}

@media only screen and (max-width: 993px){
.innovation__title {
		font-size: 2em;
	}
}

.innovation-block {
	position: relative;
	padding: 20px;
	height: 250px;
	margin-bottom: 20px;
}

.innovation-block__title {
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 300;
}
@media only screen and (max-width: 993px){
.innovation-block__title {
		font-size: 1.5rem;
	}
}
.innovation__btn--absolute {
	position: absolute;
	bottom: 20px;
	right: 20px
}

.col.m3 .innovation__btn--absolute,
.col.m4 .innovation__btn--absolute{
	left: 20px;
    padding: 0;
}

.partners {

}

.partners__title {
	margin-top: 0;
	font-size: 2.4rem;
	text-align: center;
}

.partners__slider {

}

.partners__slider .item{
	padding: 5px 15px;
}

.page-footer {
	color: #000;
}

.footer-contacts {
	font-size: 1rem;
	font-weight: 500;
	background: rgb(255,244,0);
	background: -moz-linear-gradient(-45deg, rgba(255,244,0,1) 0%, rgba(242,158,41,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);

	background: linear-gradient(135deg, rgba(255,244,0,1) 0%,rgba(242,158,41,1) 100%);
}
.footer-contacts .row{
	margin: 0;
}
.footer-contacts p{
	margin: 1.5em 0;
}
.page-footer .footer-copyright {
	font-weight: 500;
	min-height: 130px;
	background: none;
}

.footer-copyright .container{
	position: relative;
}

.social-icons-list {
	display: inline-block;
	margin-left: 20px;
}

.social-icons__item {
	line-height: 0;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.footer-copyright__logo {
	position: absolute;
	right: 0;
	width: 90px;
	margin-top: -23px;
}
@media (max-width: 600px) {
  .footer-copyright .container {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .footer-text {
    order: 2; /* Go down, bring Box B up */
  }
	.social-icons-list{
		margin-bottom: 30px;
	}
}

.news-title{
	font-size: 2.5em;
}
.news-item{
	position: relative;
	overflow: hidden;
}
.news-item__title{
	font-size: 1.5em;
	margin: 0 0 20px;
}
.news-item__date{

}
.news-item__extra{
	color: #444;
}

@media only screen and (min-width: 993px){
	.news-item .card-content{
		padding: 0;
		position: absolute;
		width: 101%;
		transition: 0.5s;
		bottom: 0;
		-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
	}
	.news-item .card-name{
		position: absolute;
		width: 100%;
		top: -100%;
	}
	.news-item__title{
		padding: 24px;
		margin: 0;
	}
	.news-item .card-extra{
		padding: 0 24px 24px;
		overflow: hidden;
	}
	.news-item:hover .card-content{
		-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	}
	.news-item .card-image img{
		transition: .5s;
	}
	.news-item:hover .card-image img{
		-webkit-transform: translateY(-40px);
    transform: translateY(-40px);
	}

}




